[Desktop Entry]
Type=Application
Version=1.0
Name=FieldWorks Flex
Comment=Start up FieldWorks via Docker
Exec=/usr/local/bin/fieldworks.sh fieldworks-flex
Icon=ghex
Terminal=false
Categories=Languages;Office;
